script(
	type="application/javascript",
	src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.5/p5.min.js",
	integrity="sha256-6RUtBmvYg4DyeVo3x5Lf4/0t27m1qOtZKtZlL85NFs4=",
	crossorigin="anonymous"
)
script(
	type="application/javascript",
	src="static/js/mandelbrot.js"
)
style.
	body {
		display: flex;
		justify-content: center;
		align-items: center;
		background: linear-gradient(to bottom right, #C82647, #FF0000);
		margin: 0;
	}