script(
	type="application/javascript",
	src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/p5.js",
	integrity="sha256-v4ezUE03KwBikOu6WFMaXBiapA/Oa/A7YZYvefSW+PY=",
	crossorigin="anonymous"
)
script(
	type="application/javascript",
	src="static/js/starfield.js"
)
style.
	body {
		margin: 0;
	}